html, body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #2b2b2b;
  color: #d2d2d2;
  font-family: monospace;
  overflow: hidden;
}

/* Ensure web component fills the viewport */
log-viewer {
  display: block;
  height: 100vh;
  width: 100vw;
}
